@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
/* Particl.js and header ID */
header {
  height: 100vh;
}
#particles-js {
  width: 100%;
  background: #0f1922;
}
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 90px;
}

.navbar .logo {
  float: left;
  color: white;
}

.nav-links {
  float: right;
  list-style: none;
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0 30px;
  text-transform: uppercase;
}

/* Hero-Box */
.hero-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text {
  color: white;
  text-align: center;
  font-size: 5rem;
}

.hero-button-box {
  margin-top: 30px;
  text-align: center;
}

.hero-button {
  padding: 20px;
  background-color: transparent;
  border-radius: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}

.hero-button:hover {
  background-color: #6919ff;
}

/* About Section */

.aboutSection {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.aboutSectionImage {
  flex: 1;
}

.aboutSectionImage img {
  width: 100%;
  height: 100%;
}

.aboutSectionContent {
  background-color: #0f1922;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  flex-direction: column;
  padding: 0 100px;
}

h2 {
  color: white;
  background-color: #6919ff;
}
p {
  color: white;
}

.aboutSectionContent p {
  width: 75%;
  text-align: justify;
  font-size: 1.1rem;
  word-spacing: 1px;
  line-height: 25px;
}

.creatorName {
  position: relative;
  font-size: 5rem;
  color: #0f1922;
  -webkit-text-stroke: 0.1rem #0f1922;
  text-transform: uppercase;
  margin: 10px 0px;
}
.creatorName::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #6919ff;
  -webkit-text-stroke: 0rem #0f1922;
  border-right: 2px solid #6919ff;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 100%;
  }
}

.workHeadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15vh;
  gap: 1rem;
}

.workHeading {
  color: #6919ff;
  background: white;
}

.workHeadingDescription {
  font-size: 3rem;
  color: #0f1922;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #6919ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 400px;
  height: 700px;
  background-color: #0f1922;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
}

.box-1 {
  width: 100%;
  height: 55%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.box-1 img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

h3 {
  color: white;
  font-size: 1.5rem;
  margin: 20px 0;
  cursor: pointer;
}
.box-2 p {
  font-size: 1.2rem;
  color: hsl(215, 51%, 70%);
  line-height: 30px;
  margin-bottom: 29px;
}

.fa-eye {
  color: hsl(178, 100%, 50%);
  margin-bottom: 40px;
}

hr {
  border: 1px solid hsl(215, 32%, 27%);
  margin-bottom: 20px;
}

.techLogos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-python {
  color: white;
}
